.bondMes {
  color: white;
  background-color: black;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  display: inline-block; /* You can use inline-block or block here */
}

.bondImgContainer {
  
  display: inline-block;
}

.bondImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}